build/
doc/html
doc/latex
manual/*.aux
manual/*.log
manual/*.toc
manual/*.idx
manual/*.lof
manual/*.lot
manual/ippl_user_guide.pdf
build*/
*~
*.~
*.orig

# ignore build directories
build*/

# ignore benchmark output files
benchmark*/
timing.dat

# benchmark scripts moved to ippl-benchmarks repository
benchmark_*.sh
plot_*.py

# ignore .vscode directory
.vscode
.cache
